.search {
    &-container {
        width: 100%;
        height: 70px;
        background-color: #253f99;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 4;
    }

    &-form {
        width: 100%;
        max-width: 1200px;
        margin: 0 auto;
    }

    &-input {
        margin-left: 20px;
        padding: 10px;
        width: 40vw;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        outline: none;
        border: none;
    }

    &-button {
        border: none;
        outline: none;
        background: #cf0505;
        padding: 10px;
        border-left: 1px solid rgba(0, 0, 0, 0.3);
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        color: #fff;
        font-weight: 500;
        transition-duration: 0.6s;
        cursor: pointer;

        &:hover {
            color: #cf0505;
            background-color: #fff;
            border: 1px solid #cf0505;
        }
    }
}

.logo {
    margin-left: 20px;
    color: #fff;
    font-weight: 900;
    cursor: pointer;
    text-decoration: none;
}